<main class="">
    <h2 class="center">Vacantes Disponibles</h2>
    {{#if vacantes.length}}
        {{#each vacantes as | vacante |}} 
            <div class="lista-vacantes">
                <div class="caja">
                    <h3>{{vacante.empresa}}</h3>
                    <p class="puesto">{{vacante.titulo}}</p>
                </div>
                <div class="caja">
                    <p class="etiqueta">Ubicación</p>
                    <p class="etiqueta">{{vacante.ubicacion}}</p>
                </div>
                <div class="caja">
                    <p class="etiqueta">Contrato</p>
                    <p class="etiqueta contrato">{{vacante.contrato}}</p>
                </div>
                <div class="custom_menu-btn">
                    <a href="/vacantes/{{vacante.url}}" class="slider_section detail-box btn-box .btn-1">Más Info</a>
                </div>
            </div> 
        {{/each}}
    {{else}}
        <p>No hay Vacantes</p>
    {{/if}}
</main>